.formularioRegistro{
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 10%;
}

.tabelaRegistrados{
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10%;
}
.table-head{
  background-color: rgb(199, 194, 194);
}

